html {
  background: rgba(0, 0, 0, 0.06);
}

body * {
  transition: all 500ms ease-in-out;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav {
  font-size: 26px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: space-between;
  color: #111;
}

.nav ul {
  padding: 0px;
  margin: 10px 0px;
}

.nav ul li a {
  display: inline-block;
  margin-left: 15px;
}

.nav ul li img {
  width: 100px;
  height: auto;
}

.nav ul:first-of-type li:first-of-type {
  font-weight: bold;
  font-size: 1.1rem;
}

.header {
  position: relative;
}

.header div {
  padding-top: 150px;
}

.header div h1 {
  font-size: 65px;
}

.header div p {
  width: 550px;
  font-size: 20px;
  line-height: 28px;
}

.header img {
  position: absolute;
  z-index: -1;
  width: 1400px;
  right: -20%;
  top: -10%;
}

.header div a {
  padding: 20px;
  display: block;
  margin-top: 70px;
  width: 170px;
  border-radius: 40px;
  color: #eee;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

  border: 1px solid #543ed6;
  color: #543ed6;
}

.header div a:hover {
  background: #543ed6;
  color: #eee;
}

.main {
  padding-top: 100px;
}

h2 {
  font-size: 45px;
  margin-bottom: 120px;
}

h3 {
  font-size: 30px;
  color: rgb(12, 0, 116);
}

.services {
  margin-top: 300px;
  font-size: 32px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px 180px 0px;
  position: relative;
}

.services-card {
  width: 40%;
  height: 400px;
  background: #222;
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 52px 19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 52px 19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 52px - 19px rgba(0, 0, 0, 0.75);
}

.service-description{
  width: 40%;
  font-size: 24px;
}

.service-one {
  background: url('../../assets/img1.jpg')center;
}

.service-two {
  background: url('../../assets/img2.jpg')center;
}

.service-three {
  background: url('../../assets/img3.jpg')center;
}


.service-one, .service-two, .service-three{
  background-size: 100% !important;
}

@media screen and (max-width: 1600px) {
  .header img {
    width: 1230px;
    right: -50%;
    top: -20%;
  }
}

@media screen and (max-width: 1380px) {
  .header img {
    right: -35%;
    top: -10%;
  }

  .header div {
    padding-top: 100px;
  }

  .header div h1 {
    font-size: 55px;
  }

  .header div p {
    width: 400px;
  }

  .service-one, .service-two, .service-three{
    background-size: 140% !important;
  }
}

@media screen and (max-width: 1150px) {
  .header img {
    width: 900px;
    right: -20%;
    top: 380px;
  }

  .header div h1 {
    font-size: 55px;
  }

  .header div p {
    width: 400px;
  }

  .service-container {
    display: block;
  }

  .services-card {
    width: 120%;
    height: 400px;
  }

  .service-description {
    width: 100%;
  }

  .service-one, .service-two, .service-three{
    background-size: 130% !important;
  }
}

@media screen and (max-width: 950px) {

  .header img {
    width: 730px;
    right: -50%;
    top: 520px;

  }
}
