<strong>Olá, {{ user }} </strong>
<p>Você foi cadastrado na aplicação de educação financeira, clique no link para confirmar e ter acesso a aplicação:</p>
<p>
  <strong>
    Código:
  </strong> <a href="{{url}}">{{ url }}</a> <br />
  <br />
  <small>
    Clique no link para confirmação do e-mail.
  </small>
</p>