<strong>Olá, {{ user }} </strong>
<p>Você foi cadastrado na aplicação de educação financeira, confirme a criação da sua conta para continuar o uso:</p>
<p>
  <strong>
    Código:
  </strong> <a href="{{url}}">{{ url }}</a> <br />
  <br />
  <small>
    Clique no link para confirmação do e-mail.
  </small>
</p>