<strong>Olá, {{ user }} </strong>
<p>Você solicitou uma troca de senha, clique no link com o token
  abaixo e digite a sua nova senha para recuperá-la:</p>
<p>
  <strong>
    Link para recuperação:
  </strong> <a href="{{url}}">{{ url }}</a> <br />
  <br />
</p>